.external {
	color: yellow;
}

* {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 72px;
}

h2 {
	text-transform: uppercase;
}

.sublanguages {
	background-color: #aed0a1;
}

li[class="subtools"] {
		border: 1px solid #7faab8;
}

img + ul {
	list-style: none;
}

section img {
	height: 100px;
	width: 100px;
	border-radius: 150px;
}

ul ~ p {
	text-align: center;
}

ul > li {
	letter-spacing: 5px;
}
